body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.containerBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 25px;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    text-align: center;
    margin-top: 5px;
}

.resetButton{
    display: block;
    margin: 20px auto;
}


